/* world map */
.map-container{
  position: relative;
  max-width: 1280px;
  margin: auto;
}
.chart-global-container{
  flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 70%;
}
.chart-left-div{
  flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 400px;
  max-width: 960px;
  margin: 0 auto;
}
.stat-card{
  max-height: 250px;
}
/* tabs */
.undp-tabs.narrow-tabs .ant-tabs-nav{
  margin: 0 auto;
  width: 1024px;
}
/* dumbell styles */
.dumbell-container{
  background-color: var(--gray-100);
}
.dumbell-header{
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  color: var(--black-600);
  padding: 0;
  border-bottom: 1px solid #000;
  background-color: #FFF;
  position: relative;
}
.dumbell-titles{
  padding-left:1rem;
  font-weight: 600;
  font-size:0.9rem;
}
.dumbell-select{
  flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 300px;
}
.lollipop-header{
  align-items: center;
  font-size: 1rem;
  color: var(--black-600);
  padding: 0;
  border-bottom: 1px solid #000;
}
/* barchart */
.barLabel{
  text-anchor:middle;
  font-size: 1.1rem;
}
/* color legend styles for charts */
.legend-container{
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  padding-bottom: 0px;
  align-items: center;
}
.legend-item{
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 8px;
  margin-right: 1rem;
}
.legend-circle{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 0;
}
.legend-circle-small{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0;
}
.legend-circle-medium{
  width: 11px;
  height: 11px;
  border-radius: 11px;
  margin: 0;
}
/* tooltip styles */
.tooltipTitle{
  font-size:.9rem !important;
  color: var(--gray-800);
  font-size: 500;
}
.tooltipLabel{
  font-size:.9rem !important;
  color: var(--gray-600);
}
.tooltipValue{
  font-size:.9rem !important;
  color: var(--black-600);
  font-weight: 700;
}
.ant-select-item-option-content{
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0;
}
.ant-select-item{
  border-top: 1px solid var(--gray-300);
}
/* country page styles */
.chart-container{
  background-color: var(--gray-200);
  padding: 24px 32px;
  position:relative;
}
.flex-chart{ 
  flex-grow: 1;
  flex-shrink: 1; 
}
.chart-explanation{
  flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 300px;
}
.chart-top{
  flex-grow: 1;
  flex-basis: 60%;
}
/* general charts styles */

.yAxis text, .xAxis text{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'sans-serif';
  font-size: 1rem;
  fill: var(--gray-600);
}
.axis-label{
  font-weight: 700;
}
.yAxis line{
  stroke-dasharray: 4;
  stroke: var(--gray-500);
}
.chart-container circle{
  opacity: 0.8
}
.source{
  font-size: 0.875rem !important;
  color: var(--gray-600);
}
/* country map */
.map{
  border: 1px solid var(--gray-400);
  background-color: #B5D5F5;
  margin-bottom: 20px;
}
.hide{
  display: none;
}
.countrymap-legend{
  padding: 5px 0 20px;
}
.background-legend{
  background-color: rgba(255, 255, 255, 0.7);
}
/* scatterplot */
.scatterPlot circle{
  stroke-width: 2;
  shape-rendering: geometricPrecision;
}

@-webkit-keyframes highlight-opacity-grey {
  0%   {opacity: 1;}
  50%  {opacity:.8;fill:#55606E}
}

@keyframes highlight-opacity-grey {
  0%   {opacity: 1;}
  50%  {opacity:.8;fill:#55606E}
}
.high-opa-grey{
  -webkit-animation-name: highlight-opacity-grey;
  -webkit-animation-duration: 2s;
  animation-name: highlight-opacity-grey;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@-webkit-keyframes highlight-opacity {
  0%   {opacity: 0.7;}
  50%  {opacity: 1;}
}

@keyframes highlight-opacity {
  0%   {opacity: 0.7;}
  50%  {opacity: 1;}
}
.high-opa{
  -webkit-animation-name: highlight-opacity;
  -webkit-animation-duration: 1s;
  animation-name: highlight-opacity;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
/* definitions flex divs */
.definitionDiv{
  flex-grow: 1;
  flex-shrink: 1; 
  flex-basis: 300px;
}
@media (min-width: 961px) {
  .dumbell-titles{
    font-size: 1rem;
  }
}

.radio-button.ant-radio-button-wrapper {
  font-family: var(--fontFamily);
  background-color: var(--gray-200);
  border-radius: 2px;
  border-color: var(--gray-200);
  font-size: 0.9rem;
}
.radio-button.ant-radio-button-wrapper-checked, .radio-button.ant-radio-button-wrapper-checked:first-child {
  border-color: var(--gray-200);
}
.radio-button.ant-radio-button-wrapper-checked::before, .radio-button.ant-radio-button-wrapper{
  background-color: var(--gray-200);
}
.radio-button .ant-radio-button-checked {
  background-color: white;
  border-color: var(--gray-300);
}
