.map-container{
  position: relative;
  border: 1px solid var(--gray-400);
}
/* dumbell styles */
.dumbell-container{
  background-color: var(--gray-100);
}
.dumbell-header{
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  color: var(--black-600);
  padding: 0;
  border-bottom: 1px solid var(--gray-400);
  background-color: #FFF;
}
.dumbell-titles{
  padding-left:1rem;
}
/* color legend styles for charts */
.legend-container{
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  padding-bottom: 0px;
  align-items: center;
}
.legend-item{
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 8px;
  margin-right: 1rem;
}
.legend-circle{
  width: 16px;
  height: 16px;
  border-radius: 9px;
  margin: 0;
}
/* tooltip styles */
.tooltipLabel{
  font-size:.9rem;
  color: var(--gray-600);
}
.tooltipValue{
  font-size:.9rem;
  color: var(--black-600);
  font-weight: 700;
}
.ant-select-item-option-content{
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0;
}
.ant-select-item{
  border-top: 1px solid var(--gray-300);
}
/* general charts styles */
.chart-container{
  background-color: var(--gray-200);
  padding: 24px 32px;
  max-width: 700px;
  flex-grow: 1;
}
.yAxis text, .xAxis text{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'sans-serif';
  font-size: 1rem;
  fill: var(--gray-600);
}
.axis-label{
  font-weight: 700;
}
.yAxis line{
  stroke-dasharray: 4;
  stroke: var(--gray-500);
}
.chart-container circle{
  opacity: 0.8
}
.source{
  font-size: 1rem;
  color: var(--gray-500);
}
/* country map */
.map{
  height: 800px;
  width: 1000px;
}