.map-container{
  position: relative;
}
/* dumbell styles */
.dumbell-container{
  background-color: var(--gray-100);
}
.dumbell-header{
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  color: var(--black-600);
  padding: 1rem;
  border-bottom: 1px solid var(--gray-400);
  background-color: #FFF;
}
/* .dumbellChart{
  
} */
/* color legend styles for charts */
.legend-container{
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  padding-bottom: 10px;
  align-items: center;
}
.legend-item{
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 8px;
  margin-right: 1rem;
}
.legend-circle{
  width: 16px;
  height: 16px;
  border-radius: 9px;
  margin: 0;
}